<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/sales">Sales Volume</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/orders">Latest Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/health">System Health</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/sales">Job Code Management</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/orders">Machine Management</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/health">Timecard Approval</a>
  </li>
</ul>

